<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<meta name="referrer" content="no-referrer" />
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<!--<link href="{CSS_PATH}default_blue.css" rel="stylesheet" type="text/css" />-->
<link href="{CSS_PATH}style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{CSS_PATH}swiper-bundle.min.css" />
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
	<script type="text/javascript" src="{JS_PATH}public.js"></script>
	<script type="text/javascript" src="{JS_PATH}search_common.js"></script>
</head>
<style>
	a {
		text-decoration:none!important;
	}
</style>
<body>
<div class="header">
	<div class="header-wrap">
		<img src="{IMG_PATH}log.png" class="logo"/>
		<div class="menu">
			{pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
			<ul class="nav">
				<li>
					<a href="{siteurl($siteid)}" class="index-cat">首页</a>
				</li>
				{loop $data $r}
				<li>
					{if $r[catid]==8}
					<a href="http://www.jnhouse.com" target="_blank" >公司业务</a>
					<div class="box">
						<a href="http://www.jnhouse.com/lpzs/" target="_blank" >新房</a>
						<a href="http://www.jnhouse.com/esf/" target="_blank" >二手房</a>
						<a href="http://www.jnhouse.com/czqz/" target="_blank" >租房</a>
						<a href="http://www.jnhouse.com/community/" target="_blank" >找小区</a>
					</div>
					{elseif $r[catid]==6}
					{pc:content action="category" catid="$r[catid]" num="25" siteid="$siteid" order="listorder ASC" return="item"}
						{loop $item $val}
						{if $val[catid]==15}
						<a href="{$val[url]}">关于中住</a>
						{/if}
						{/loop}
					<div class="box">
						{loop $item $val}
						<a href="{$val[url]}">{$val[catname]}</a>
						{/loop}
					</div>
					{/pc}
					{else}
					<a href="{$r[url]}"  data-cat="{$r[catid]}" >{$r[catname]}</a>
					<div class="box">
						{pc:content action="category" catid="$r[catid]" num="25" siteid="$siteid" order="listorder ASC" return="item"}
							{loop $item $val}
							<a href="{$val[url]}">{$val[catname]}</a>
							{/loop}
						{/pc}
					</div>
					{/if}
				</li>
				{/loop}
			</ul>
			{/pc}
		</div>
	</div>
</div>
