{template "content","header"}
<!--活动新闻and 员工专访 and 中住新闻列表-->
<link href="{CSS_PATH}download.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{CSS_PATH}style.css" />
<link rel="stylesheet" href="{CSS_PATH}news.css" />
<body>
<style>
    .crumbs .zhu{
        background: url("{IMG_PATH}icon2.png") no-repeat 0 32px;
        padding-left: 23px;
    }
    .crumbs a.on {
        background: url("{IMG_PATH}icon1.png") no-repeat 0 36px;
    }
</style>
<!-- 导航 -->
<div class="banner">
    <img src="{IMG_PATH}about-banner.png"/>
</div>
<div class="infor">
     <div class="infor-wrap">
    {template "content","head_url"}
<!-- 如果修改了新闻中心，这里改成新闻中心对应的catid   -->
    <div class="infor-nav">
        <ul class="tab-nav tab1">
            {loop subcat(31) $r}
            <li {if $catid==$r[catid]} class="hover" {/if} ><a href="/{$r[catdir]}" title="{$r[catname]}">{$r[catname]}</a></li>
            {/loop}
        </ul>
        <div class="xian" style="left: 0;"></div>
    </div>
<!--         {pc:get sql=" SELECT * FROM v9_news AS new INNER JOIN v9_news_data AS data ON data.id = new.id WHERE new.catid = $catid  " start=0 num=3 }-->
    <div class="tab-box" style="display: block;">
        {php $action=search_dir()}
        <div class="main">
            <div class="main-wrap">
                {pc:content  action="lists" catid="$catid" order="id desc"  num="10" page="$_GET[page]"}
                <div class="left">
                    {php $j=0}
                    {loop $data $content}
                    {if $j==0}
                    <div class="news-top">
                        <div class="news-top-l">
                            <a href="/{$action}/{$content[id]}">
                                <div class="date">{date('M m,Y',$content[updatetime])}</div>
                                <h1>{$content[title]}</h1>
                                <p>{$content[description]}
                                </p>
                                <button>更多信息></button>
                            </a>
                        </div>
                        <div class="news-top-r">
                            <a href="/{$action}/{$content[id]}">
                                <img src="{$content[thumb]}" /></a>
                        </div>
                    </div>
                    {else}
                    {if $j==1}
                    <ul class="news-list">
                        {/if}
                        <li class="introduce">
                            <a href="/{$action}/{$content[id]}">
                                <div class="date">
                                    <h1>{date('j',$content[updatetime])}</h1>
                                    <p>{date('M Y',$content[updatetime])}</p>
                                </div>
                                <div class="introduce-infor">
                                    <h1>{$content[title]}</h1>
                                    <p>{$content[description]}
                                    </p>
                                </div>
                            </a>
                        </li>
                        {/if}
                        {$j++}
                        {/loop}
                    </ul>
<!--                    没有页码则隐藏 -->
                    <div id="page" {if empty($pages)} style="visibility: hidden;" {/if} class="page_div">{$pages}</div>
                </div>
                {/pc}
                {template "content","right_img"}
            </div>

        </div>
    </div>
     </div>
</div>

</body>
<script src="{JS_PATH}jquery-1.min.js"></script>
<script src="{JS_PATH}nav.js"></script>
<script src="{JS_PATH}paging.js"></script>

<script>
    //分页
    // $("#page").paging({
    //     totalPage: {$count_page},
    // })
</script>
{template "content","footer"}
