<div class="right">
    <!--todo-->
    {pc:get sql="SELECT pos.width,pos.height,child.setting FROM v9_poster_space AS pos INNER JOIN v9_poster AS child ON child.spaceid = pos.spaceid WHERE pos.spaceid = 16 ORDER BY child.id" return="data"}
    {loop $data $r}
    {php $width = $r[width];$height=$r[height]}
    {php $r=current(json_decode($r[setting]));}
    {php $imageurl=$r->imageurl;$url=$r->linkurl?$r->linkurl:'';}
    <a class="right-img-a"><img src="{$imageurl}" alt=""/></a>
    {/loop}
    {/pc}
</div>